* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: red;
}

#productContainer img {
    width: 100px;
}

#cartContainer img {
    width: 50px;
}

.productInfoCard {
    border: 1px solid blue;
}

.productInfoCard img {
    width: 50px;
}